/*overall styles*/

*,
*:after,
*:before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #CFD8DC;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

/*input container styles*/

.input-container {
	background-color: #455A64;
	padding: 10px;
	text-align: center;
	width: 100%;	
}

h1 {
	color: #FFFFFF;
	display: inline-block;
	font-size: 6.0vw;
	font-weight: 800;
	padding: 10px;
	text-align: center;
}

.logo { 
	height: 8vw;
	margin-bottom: -2vw ;
	width: 8vw;
}

.main-input {
	font-size: 20px;
	font-weight: 300;
	margin: 10px 10px;
	padding: 5px;
	width: 90%;
 }

.main-input::placeholder {
 	color: #CFD8DC;
 }

p.submit-error{
	color: #FFC107;
	text-align: center;
}

.button {
 	background: #FFC107;
 	border: none;
 	color: #FFFFFF;
 	font-size: 16px;
 	font-weight: 600;
 	margin: 10px 10px;
 	padding: 10px;
 	width: 90%;
 }

.button:hover {
	background: #FFD773;
}

.button:disabled {
 	background: #828789;
}

p.totals {
	color: white;
	margin-top: 18px;
	margin-left: auto;
	margin-right: auto;
	padding: 6px;
	text-align: center;
	width: 90%;
}

span.accent-color {
	color: #FFC107;
}

/*output container styles*/

.output-container {
	background-color: #CFD8DC;
	width: 100%;
}

h2 {
 	color: #455A64;
 	font-size: 16pt;
 	font-weight: 600;
 }

.line {
	background-color: #CFD8DC;
	border-style: none;
	color: #CFD8DC;
	height: 1px;
	margin: 5px;
	margin-bottom: 14px;
}

.website-info {
	background-color: white;
	border: 1px solid #607D8B;
	padding: 5px;
	margin: 20px auto; 
	width: 88%;
}

#website-title{
	padding-left: 5px;
}

#website-url{
	padding-left: 5px;
}

.website-text {
	color: #607D8B;
}

.website-text.read {
	text-decoration: underline #CFD8DC;
}

.website-text:hover {
	text-decoration: underline #FFC107;
}


.left { 
	padding-left: 5px;
}

.right {
	float:right;
	padding-right: 10px;
}

.bottom-links {
	background-color: transparent;
	border: none;
	color: #455A64;
	font-size: 10pt;
	text-decoration: none;
}

.bottom-links:focus {
	outline: none;
}

input.read-link.read {
	color: #F05A28;
}

.bottom-links:hover{
	text-decoration: underline #FFC107;	
}

.underline {
	text-decoration: none;
}

/*media queries*/

@media only screen and (min-width: 755px) {
    
body {
	background-color: white;
}

.logo { 
	height: 8vw;
	margin-bottom: -2vw;
	width: 8vw;
}

.output-container{
	height: 100%;
	overflow-y: scroll;
}

.input-container {
	height: 100%;
	padding-top: 135px;
}

.main-input {
	font-size: 19px;
	font-weight: 300;
	margin: 25px 10px 20px 10px;
	padding: 3px;
	width: 90%;
}

.button {
	font-size: 13px;
	margin-top: 18px;
	padding: 6px;
}

.content-block {
	display: block;
	float: left;
	overflow: auto;
	position: relative;
	width: 50%;
}

h1 {
	font-size: 5.2vw;
	display:inline-block;
}

.website-info {
	width: 90%;
}

} /*Media Query Closing } */

@media only screen and (min-width: 1200px) {

main {
 	margin: 0 auto;
 	width: 90%;
}

}


