/*overall styles*/

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}


body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: #CFD8DC;
}

/*input container styles*/

.input-container {
	background-color: #455A64;
	width: 100%;
	padding: 10px;
	
}

p.submit-error{
	text-align: center;
	color: red;
}



h1 {
	color: #FFFFFF;
	text-align: center;
	padding: 10px;
	font-weight: 800;
	font-size: 22px;
	}


.logo { 
width: 35px;
height: 25px;
margin-bottom: -5;
 }

.main-input {
	width: 90%;
	padding: 5px;
	margin: 10px 10px;
	font-size: 20px;
	font-weight: 300;
 }

 .main-input::placeholder {
 	color: #CFD8DC;
 }

 .button {
 	width: 90%;
 	margin: 10px 10px;
 	background: #FFC107;
 	color: #FFFFFF;
 	padding: 10px;
 	font-size: 16px;
 	border: none;
 	font-weight: 600;

 }

 .button:hover {
	background: #FFD773;
 }

/*output container styles*/

.output-container {
	background-color: #CFD8DC;
	width: 100%;
	
}

h2 {
 color: #455A64;
 font-size: 18px;
 font-weight: 600;
 }

.left { 
	padding-left: 5px;
}

.right {
	float:right;
	padding-right: 10px;
}

.website-info {
	background-color: white;
	border: 1px solid #607D8B;
	padding: 5px;
	margin: 10px;
}

#website-title{
	padding-left: 5px;
}

#website-url{
	padding-left: 5px;
}
.website-text {
	color: #607D8B;
}
.line {
	color: #CFD8DC;
	background-color: #CFD8DC;
	height: 1px;
	margin: 5px;
	border-style: none;
}

.bottom-links {
	color: #455A64;
	background-color: transparent;
	text-decoration: none;
	border: none;
	font-size: 10pt;
}

.bottom-links:focus {
  outline: none;
}

.bottom-links:hover{
text-decoration: underline #FFC107	
}

.underline {
	text-decoration: none;
}

.website-text:hover {
	text-decoration: underline #FFC107;
}

input#read-link.read {
	color: #F05A28;
}

.website-text.read {
	text-decoration: underline #CFD8DC;
}

/*media queries*/

@media only screen and (min-width: 515px) {
    .content-block {
    width: 50%;
    float: left;
	position: relative;
	height: 100%;
    }

    .input-container {
    	padding-top: 135px;
    }

    h1 {
    	font-size: 42px;
    }

    .logo { 
	width: 60px;
	height: 50px;
	margin-bottom: -10;
 	}

 	.main-input {
	width: 90%;
	padding: 3px;
	margin: 25px 10px 20px 10px;
	font-size: 19px;
	font-weight: 300;
 }

.button {
 padding: 6px;
 font-size: 13px;
 	margin-top: 18px;
 	}
 }

